@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
}

@layer utilities {
  .flex-centered {
    @apply flex flex-col justify-center items-center;
  }

  .text-purple-gradient {
    @apply inline-block bg-gradient-to-r text-transparent from-purple-600 to-indigo-500 bg-clip-text;
  }
}

@layer components {
  /*
   * Styles for App
   */
  .app {
    @apply flex-centered bg-gradient-to-b from-gray-900 to-black min-h-screen gap-4 space-y-5 py-6;
  }

  .app-header {
    @apply flex-centered space-y-5;
  }

  .btn-link {
    @apply inline-flex justify-center items-center font-normal text-center px-3 py-1 leading-normal text-base rounded cursor-pointer bg-gray-200 transition duration-500 ease-in-out hover:bg-purple-700 transform hover:translate-y-1 hover:scale-110;
  }

  .icon {
    @apply inline text-purple-600 mx-1;
  }

  /*
   * Styles for Card
   */
  .card {
    @apply relative flex flex-col rounded border border-gray-600 shadow-lg;
  }

  .card-header {
    @apply bg-gray-900 px-1 py-2 flex justify-between border-b border-black shadow-lg;
  }

  .card-header-text {
    @apply text-purple-gradient text-lg font-bold;
  }

  .card-body {
    @apply break-words;
  }
  

  /*
   * Styles for EditorCard
   */
  .editor {
    @apply w-full font-mono bg-gray-900 text-gray-300 focus:outline-none;
  }


  /*
   * Styles for PreviewerCard
   */
  .markdown-body ul > li {
    @apply list-disc list-outside;
  }

  .markdown-body ol > li {
    @apply list-decimal list-outside;
  }
}
